/* место для вашего кода */
.body {
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header-menu {
  justify-self: start;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.header-links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}


.header-links-list-item-no-bullit {
  list-style: none;
}

.header-link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.header-logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header-logo-image {
  width: 100%;
  height: auto;
}

.header-address {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  justify-self: end;
  text-align: left;
  padding-left: 50px;
  height: 98px;
  max-width: 240px;
}

.cover {
  position: relative;
  width: 100%;
  height: 723px;
  width: 1100px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-size: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
  width: 100%;
  margin-bottom: 106px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 165px;
  z-index: 2;
}

.aligned-text-left {
  text-align: left;
}

.aligned-text-center {
  text-align: center;
}

.aligned-text-right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover-description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 79px;
  /* padding: 0 50px 55px 78px; */
  padding-top: 0px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 32px;
}

.cover-description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 637px;
  line-height: 28px;
  word-spacing: 18px;
  margin: 0;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
}

.bet-button:hover {
  background: white;
}
.lots {
  width: 1052px;
  height: 723px;
  margin: 0 auto;
  margin-top: 180px;
}
.lots-title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  padding-left: 40px;
  padding-bottom: 27px;
}
.lots-card-list {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.lots-card-list-item {
  flex: 1;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.card {
  display: grid;
  gap: 25px;
  height: 596px;
  width: 334px;
  position: relative;
  text-transform: none;
  color: white;
  padding-right: 40px;
  /* padding-bottom: 80px; */
  padding-left: 40px;
}

/* card overlay */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.card-type-film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card-type-book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card-type-picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.card-title {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-top: 48px;
}

.card-text {
  position: absolute;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  bottom: 48px;
  left: 40px;
  right: 40px;
}

.lots-look-more-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  text-decoration: none;
}

/* About Section */


.about {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin: auto;
  max-height: 595px;
  min-height: 595px;
  max-width: 1052px;
  margin-top: 120px;
  
}

.about__column {
  width: 693px;
  height: 449px;
  margin-top: 136px;
  margin-left: 25px;
}

.about__logo {
  display: flex;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  font-size: 40px;
  padding-left: 72px;
}

.about__text__1 {
  padding-top: 100px;
  padding-left: 72px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-wrap-style: balance;
}
.about__text__2 {
  padding-top: 24px;
  padding-left: 72px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-wrap-style: balance;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 180px;
  width: 1100px;
  margin-top: 180px;
}

.footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  min-height: 180px; /* как в макете */
}
  



.footer__menu-list {
  
  justify-self: center;
}

.footer__menu-list-item {
}

.footer__menu-link {
}

.footer__menu-link_active {
}

.address {
  justify-self: start;
}

.footer__social-list {
}

.footer__social-list-item {
}

.footer__social-link {
}

.footer__social-icon {
}
