/* место для вашего кода */
.body {



    
    
}

.header {
    width: 1100px;
    height: 293px;
}

.header__logo {
    
    width: 10px;
     height: 10px;
}

.logo {
    
}

.nav {
color: red;
    
}

.address {
    
}



.cover {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 1100px;
    min-height: 757px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 180px;

    
} 

.cover-title {
   color: white;
    font-size: 115px;
}



.main {
    
} 

.overlay {
    
}


.cover-description {
    
}

.button-cover {
    
}

.lots {
    width: 1052px;
    height: 723px;
}

.cards {
    
}


.view-more {
    
}

.about {
    width: 1052px;
    height: 595px;
}

.logo-container {
    
}


.text-container {
    
}

.footer {
    width: 1100px;
    height: 180px;
}

.social-media {
    
}


.footer__social-media-list {
    
}


.footer__social-media-list-item {
    
}


.footer__social-media-list-item-link {
    
}


.footer__social-media-icon {
    
}


